* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 px;
}

/*Header*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  padding: 16px 20px;
}

.menu ul li {
  display: inline-block;
  list-style: none;
}

.menu ul li a {
  font-family: sans-serif;
  color: rgb(179, 179, 179);
  font-size: 11px;
  text-decoration: none;
  padding: 10px 20px;
}

.menu ul li a:hover {
  border-bottom: 3px rgb(74, 80, 187) solid;
}


button {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  -moz-box-align: center;
  align-items: center;
}

.logo-hyf {
  margin-left: 20 px;
  margin-right: auto;
}

/*Our program*/
.program {
  width: 100%;
  margin: 10px 0px 10px 0px;
  background-color: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  padding: 50px 10px 50px 20px;
}

.one {
  float: left;
  padding-right: 50px;
  margin: 0px;
  width: 400px;
}

.grid .one {
  float: left;
  margin: 0px;
}

.two {
  padding: 0px 5px 0px 120px;
  position: relative;
}

.two img {
  width: 600px;
  float: right;
  margin: 0px;
  position: relative;
}

.one p {
  font-size: 16px;
  font-family: "Space Mono", monospace;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: left;
  color: rgb(45, 48, 55);
  line-height: 160%;
  padding: 0px;
  border: 0px;
  
}

.one h2 {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  white-space: pre-wrap;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  color: rgb(28, 34, 148);
  line-height: 140%;
  text-transform: uppercase;
}

.one b {
  color: rgb(74, 80, 187);
  font-weight: 300;
  font-family: "Space Mono", monospace;
}

.arrow {
  width: 13px;
  height: 12px;
  margin-left: 4px;
  align-self: auto;
  cursor: pointer;
  background-color: transparent;
  align-content: center;
}

.button1 {
  font-family: "Work Sans", sans-serif;
  font-size: 11px;
  line-height: 160%;
  padding: 10px 20px 10px 0px;
  color: rgb(74, 80, 187);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: left;
  cursor: pointer;
  letter-spacing: normal;
  font-weight: 600;
  align-items: center;
}

.button1:hover {
  background-color: #f3f3f2;
}

/*Our Impact*/
.our-impact {
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 20px 50px 40px 50px;
  background-color: #ffffff;
  margin-top: 40px;
}

.container-impact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  overflow: hidden;
  gap: 3em;
}

.impact-1 {
  width: 100%;
  background-color: rgb(74, 80, 187);
  padding: 10px 20px 10px 20px;
}

.impact-2 {
  width: 100%;
  background-color: rgb(74, 80, 187);
  padding: 10px 20px 10px 20px;
}

.impact-3 {
  width: 100%;
  background-color: rgb(74, 80, 187);
  padding: 10px 20px 10px 20px;
}

.our-impact h2 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: rgb(28, 34, 148);
  text-align: center;
}

.our-impact .general-impact {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: rgb(45, 48, 55);
  text-align: center;
  padding: 10px 180px 40px 180px;
}

.our-impact .container-impact p {
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  align-content: center;
  text-align: left;
  width: 100%;
  line-height: 160%;
  color: #ffffff;
}

.our-impact .container-impact h1 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}

/*footer*/
.main-container-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.inner-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.h3-footer {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
}

.p-footer {
  color: rgb(45, 48, 55);
  text-align: center;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  font-weight: 300;
}

.email-footer {
  color: rgb(45, 48, 55);
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  font-weight: 300;
}

.social-media-footer {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
}

.link-social-media {
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px 10px;
  font-weight: 300;
}

.icon-social-media {
  width: 26px;
  height: 26px;
}